*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.form-group{
	width: 80%;
  margin: 0 auto;
  padding:  0;
}

.form-group:after{
	content:"";
	clear: both;
	height: 0px;
  display: block;
  text-align: center !important;
}

h2{
	font-weight: bold;
  text-align:center;
  padding: 15px 0px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
  padding: 10px;
}

