<p>
  tabla works!
</p>

<div id="wrapper">
		<header>
			<h2>Seleccionar forma de ahorro</h2>
			<select id="enfermedad">
				<option value="">Selecciona un metodo o reto </option>
			</select>
			<select id="edades">
				<option value="">Selecciona una cantidad</option>
			</select>
			<input id="inputSearch" type="text" placeholder="introduce una busqueda">
			<button id="consulta">Consulta</button>

		</header>

		<main id="main">



		</main>

		<footer>
			Tabla proporcionada por ASF
		</footer>
	</div>
