<section id="reto1" class="container-fluid">
  <div class="container_principal">
    <h2 class="font-weight-bold text-center">TIPOS DE RETOS</h2>
    <hr class="lineatitulo mb-5" noshade="noshade">
    <h3>Reto de las 52 semanas</h3>
    <p>
      Este reto de ahorro viene de Estados Unidos. El reto de las 52 semanas es muy fácil de poner en práctica y consiste en ir
      ahorrando cada semana una cantidad de dinero igual al número de semana que toque.
      Para que lo entiendas mejor, la primera semana del reto ahorrarías 1 euros, la segunda semana 2 euros, la tercera
      semana 3 euros… y así hasta la semana 52 en la que ahorrarías 52 euros. Al final del reto, que dura un año, habrás
      acumulado 1.378 euros.Así evoluciona el ahorro a lo largo del reto de las 52 semanas.
      <br>
      <img class="img img-fluid " alt="Responsive image" src="../../assets/reto 52.PNG" alt="">
    </p>
    <p>
      Tal y como está estructurado, este desafío de ahorrar dinero exige un mayor esfuerzo al final. Dividido en meses de cuatro
      semanas, este sería el esfuerzo ahorrador.
      <br> Además, durante todo el año te habrás ido acostumbrando a tener menos dinero disponible de forma gradual, por lo que
      es fácil que ni siquiera notes el incremento.
    </p>
    <img class="img img-fluid " alt="Responsive image" src="../../assets/acumuladosemanamax.PNG" alt="">
    <p><br>
      El reto de ahorro de las 52 semanas es ideal para ahorrar el dinero de vacaciones y en general para cualquier gasto que sepamos
      que tiene una cadencia anual. También es una buena forma de acercarse al ahorro para quienes les cuesta ahorrar.
      Existen multitud de variaciones respecto al reto original como como ahorrar en múltiplos de 10 en lugar de 1 euro,
      con lo que al final tendrás 13.780 euros o empezar con 50 céntimos e ir sumando 50 céntimos más cada semana. Con el
      reto de los 50 céntimos tendrías 689 euros.
    </p>
  </div>
</section>
<section id="reto2" class="container-fluid">
  <div class="container">
    <hr class="lineatitulo mb-5" noshade="noshade">
    <h3 class="font-weight-bold text-center">Reto del mes</h3>
    <p>
      Si el reto de las 52 semanas propone un marco de un año, el reto de los 30 días de ahorro lo acota a un mes.
      Su funcionamiento es similar, pero aquí el límite temporal es clave
    </p>
    <div>
        <img class="img img-fluid" alt="Responsive image"  src="../../assets/retomes.PNG" alt="">
    </div>

    <p>
      En este reto empezarás ahorrando un poco cada día y la cantidad irá incrementándose con el paso del tiempo. Si empiezas con
      1 euro el primer día ahorrarás 2 euros y el último 30 euros.
      Si optas por 50 céntimos, el segundo día ahorrarás 1 euros y el trigésimo 15 euros, mientras que si empiezas por 1,5
      euros el segundo ahorrarás 3 euros y el último 45.Esta sería la progresión para el reto de los 30 días con 1 euro de ahorro diario.
    </p>
    <P>
      Si optases por ser más conservador y empezar 0,5 euros, al final de mes tendrías 232,5 euros, mientras que si apuestas por 1,5 euros sumarías 697,5 euros.
      Como ves, la clave del reto de los 30 días está en acertar con la cantidad inicial, que es la que marcará la progresión.
      Este reto para ahorrar es útil para hacer un sprint final y tener disponible un dinero adicional que sabes que vas a necesitar al cabo de 30 días. Desde contar con un capital extra para vacaciones hasta comprar esa televisión que tanto quieres.
    </P>
  </div>
</section>
<section id="reto3" class="container-fluid">
  <div class="container">
    <hr class="lineatitulo mb-5" noshade="noshade">
    <h3 class="font-weight-bold text-center">Reto de los 365 días</h3>
    <p>
      Esta es la última variante del método de las 52 semanas.
      Su organización es algo diferente y no propone un escalado de ahorro.
      El reto de los 365 días divide el ahorro entre semanas, pero propone ahorrar lo mismo cada semana.
    </p>
    <div><img class="img img-fluid imgCenter" alt="Responsive image" src="../../assets/retoanualmax.PNG"></div><br>

    <p>
      Repite el reto de los 365 días todo el año y al final obtendrás 1.456 euros. Este reto se puede aplicar para un mes o también el reto de las 52 semanas sino es factible hacerlo con el reto original.
    </p>
    <P>
      Como podemos ver en la imagen inferior este sistema se puede hacer siendo el primer dia el importe mas alto de la semana como el mas bajo. La tabla viene con un ejemplo dcuyas cantidades van de 1 a 7 euros.
    </P>
    <img  class="img img-fluid" alt="Responsive image" src="../../assets/retoanual_acumulado.PNG">
  </div>
</section>
<section id="reto4" class="container-fluid">
    <div class="container">
      <hr class="lineatitulo mb-5" noshade="noshade">
      <h3 class="font-weight-bold text-center">Reto del céntimo</h3>
      <p>
          Este reto para ahorrar dinero te permitirá ahorrar 667,95 euros al final. De nuevo, propone un incremento gradual del ahorro, que irá desde 1 céntimo hasta 3,95 euros al día cerca del final del reto.<br>
      </p>
      <p>
        El reto del céntimo se puede poner en práctica de tres formas diferentes: creciente, decreciente y de forma desordenada.
      </p>
      <P>
          El reto del céntimo creciente o ascendente. En este caso empezarás ahorrando 1 céntimo al día e irás incrementando la cantidad 1 céntimo diario hasta alcanzar los 3,65 céntimos el último día del año.
          El reto del céntimo descendiente. Es igual que el anterior, pero a la inversa. Empezarías ahorrando 3,65 céntimos y reduciendo un céntimo cada día.
          El reto del céntimo desordenado. Si no tienes un céntimo ese día puedes optar por esta práctica, con la que cada día ahorrarás una cantidad diferente. Para poder llevarla a cabo es necesario o recomendable contar con una lista con todas las cantidades para poder tacharlas.
      </P>
      <img class="img img-fluid " alt="Responsive image" src="../../assets/metodo365.PNG" alt="">
      <hr class="lineatitulo mb-5" noshade="noshade">
    </div>
  </section>

  <footer>
      Estos datos están proporcionados por ASF
  </footer><br>



