<div class="jumbotron jumbotron-fluid">
  <div class="bg-translucido">
    <div class="container">
      <p class="lead">welcome, we are ASF</p>
      <h1 class="display-4">Land of opportunities</h1>
      <a class="btn btn-outline-light" href="registrate">Take a look</a>
    </div>
  </div>
</div>
 <article id="introduccion" class="container-fluid">
  <div class="container">
      <hr class="lineatitulo mb-5" noshade="noshade">
    <h2 class="font-weight-bold text-center">INTRODUCCION</h2>

    <h3>¿Por qué no ahorran las personas?</h3>
    <p>
      El
      <strong>IV Estudio de Comparación Online hacia el Ahorro Inteligente de Rastreator</strong>
      apunta tres causas: no ingresar lo suficiente (71,4% así lo afirma), surgen gastos imprevistos (65,9%) y que los españoles
      prefieren darse caprichos antes que ahorrar (un 43,3% así lo reconoce). Las tres parecen razones de peso y, sin embargo,
      las tres siguen sin dar con el verdadero problema. La clave está en que los españoles usamos fórmulas de ahorro que
      no funcionan porque seguimos ahorrando como lo hacían nuestros padres y nuestros abuelos.</p>
    <p>
      <strong>Hemos aprendido a dejar el ahorro para el final.</strong>Exactamente igual que nuestros padres con su salario. A comienzos
      de mes ingresaban su nómina y pagaban la hipoteca de la casa, la luz, el agua, el gas, el teléfono… y todos los gastos
      fijos de aquella época. Comida y gastos de ocio seguían restando durante los 30 días del mes y al final el ahorro era
      lo que sobraba.
    </p>
    <p>Esta forma de ahorrar puede parecer efectiva, pero tiene dos graves inconvenientes. La diferencia es que hoy en día las
      opciones de ocio se han multiplicado y con ella los gastos.
      <strong>es fácil que a final de mes sobre muy poco o nada.</strong>Y por otro lado, nuestro propio cerebro está programado
      para consumir todos los recursos que tenga a su alrededor.
    </p>
  </div>
</article>
 <section id="metodo" class="container-fluid">
  <div class="container">
      <hr class="lineatitulo mb-5" noshade="noshade">
    <h2 class="font-weight-bold text-center">METODOS DE AHORRO</h2>

    <h3>¿Qué son los métodos de ahorro?</h3>
    <p>Utilizar un método de ahorro adaptado a los hábitos y costumbres económicas de cada persona es clave para lograr ahorrar.
      También es importante ponerse metas y ver cómo se van alcanzando para animarse.
    </p>
    <h3>¿Por qué debes tener un método de ahorro?</h3>
    <p>
      Cuando entiendes que un método de ahorro efectivo te permite que el dinero trabaje para ti, comenzarás a hacerlo de inmediato.
      <br> Así de sencillo, y entre más rápido empieces hacerlo, este trabajará más duro, ya que gracias al efecto compuesto,
      tus ahorros se convertirán en inversiones que crecerán exponencialmente.
    </p>
    <img src="../../assets/metodo_landing.PNG" alt=""><br>

    <a href="metodos" >Saber más</a>

  </div>
</section>
 <section id="reto" class="container-fluid">
    <div class="container">
        <hr class="lineatitulo mb-5" noshade="noshade">
      <h2 class="font-weight-bold text-center">RETOS DE AHORRO</h2>

      <h3>¿Qué son los retos de ahorro?</h3>
      <p>Los retos de ahorro sirven para poner en marcha un método concreto para ahorrar dinero,
        con la diferencia que están acotados en el tiempo y tienen un componente mucho más social.
        Estos son los más seguiros y que mejor resultado dan.
      </p>
      <h3>¿Como debe ser tu  reto de ahorro?</h3>
      <p>
          Asequibles: Pero que tengan ese  pequeño componente de locura,
          que la persona piense… Pero dónde me he metido!!!<br>
          Tener un objetivo a corto plazo y ponerle una fecha concreta para realizarlo.
          Cada micro objetivo va sumando para conseguir el gran reto,
          pero la consecución de los mismos nos MOTIVA e ILUSIONA.<br>
          Que sean concretos y la persona tenga bien claro el esfuerzo que se les pide en cada momento.<br>
      </p>
      <p>
        Los retos de ahorro son una buena fórmula para ahorrar más dinero pero tienen un inconveniente:
        se terminan. Puedes hacer el reto año tras año, pero al final terminarás perdiendo la motivación.
        Además, cuentan con otro problema, siguen exigiendo actividad por tu parte.
        Hay un método de ahorro que funciona y que no exige tu fuerza de voluntad, el preahorro
      </p>
      <img src="../../assets/reto _anding.PNG" alt=""><br>
      <a href="retos">Saber más</a>
      <hr class="lineatitulo mb-5" noshade="noshade">
    </div>
  </section>

  <pie></pie>

  <router-outlet></router-outlet>
