<section  class="metodo" id="metodo1" class="container-fluid">
  <div class="container_principal">
    <h2 class="font-weight-bold text-center">TIPOS DE MÉTODOS</h2>
    <hr class="lineatitulo mb-5" noshade="noshade">
    <h3>Método de porcentaje</h3>
    <p>
      La regla de ahorro 50/30/20 consiste en coger tus ingresos mensuales y dividirlos en porcentajes de modo que todas tus necesidades
      primarias estén cubiertas (50 %), puedas darte caprichos (30 %) y, encima, ahorres para el futuro (20 %).
      <br>
      <img class="img-fluid" alt="Responsive image" src="../../assets/metodo_porcentaje.PNG" alt="">
    </p>
    <h5>El 50% del sueldo debería gastarse en:</h5>

    <p>
      El pago de la hipoteca o alquiler.
      <br> Los gastos habituales de una vivienda, tales como la luz, el agua, la cuota de comunidad, la recogida de basura,etc.
      <br> La comida del mes.
      <br> El pago de escolaridad en caso de estar estudiando o tener hijos que lo hagan.
      <br> Calzado y vestuario.
      <br> Transporte al trabajo.
      <br> Todos estos gastos tienen una cosa en común: son vitales en nuestro día a día.
    </p>
    <h5>El 20 % para el ahorro</h5>

    <p>
      Esta parte de la regla es, seguramente, la más dolorosa ya que nada más aplicarla vemos nuestro dinero mermado un 20 %. Para
      paliar la sensación de perder poder adquisitivo es importante hacer dos cosas mes a mes. Lo primero es descontar el
      porcentaje de ahorro nada más recibir la nómina mensual. Lo segundo que hay que hacer para ver la “pérdida” de dinero
      mes a mes con buenos ojos es, nada más descontar el 20 % de la nómina, ingresar el dinero correspondiente a ese porcentaje
      en una cuenta distinta a nuestra cuenta corriente habitual.
    </p>
    <h5>El 30 % para gastos prescindibles</h5>
    <p>
      El último grupo de la regla 50/20/30 es, con toda seguridad, el que más nos va a gustar cumplir a pies juntillas. Consiste
      en destinar el 30 % de nuestros ingresos mensuales a aquellos gastos del día a día o puntuales que son prescindibles,
      pero que aumentan mucho nuestra calidad de vida. Dentro de esta categoría se incluyen todas las actividades de ocio
      como ir al cine, salir a cenar algunos días fuera de casa o hacer un viaje por vacaciones.
    </p>
  </div>
</section><br>
<section id="metodo" class="container-fluid">
    <div class="container">
        <h2 class="cuadro">Método 50/30/20</h2>
        <input #misCantidades class="cantidad" type="text" placeholder="Ingresos">
        <input type="button" value="Mostrar tabla" (click)="porcentajeTabla( misCantidades.value)">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Ingresos</th>
              <th scope="col">Cantidad para gastos fijos</th>
              <th scope="col">Cantidad para gastos personales</th>
              <th scope="col">Cantidad para el ahorro</th>
              <th scope="col">Resultado</th>
            </tr>
          </thead>
          <tbody>
              <tr class="table-active">
                  <th scope="row">{{this.cantidad | number:'1.2-2'}}€</th>
                  <td>{{this.cantidad*this.constFija/100 | number:'1.2-2'}}€</td>
                  <td>{{this.cantidad*this.constPersonal/100 | number:'1.2-2'}}€</td>
                  <td>{{this.cantidad*this.constAhorro/100 | number:'1.2-2'}}€</td>
                  <td>{{(this.cantidad*this.constFija/100)+(this.cantidad*this.constPersonal/100)+(this.cantidad*this.constAhorro/100) | number:'1.2-2'}}€</td>
              </tr>
          </tbody>
        </table>
      </div>
      <footer>
          Tabla proporcionada por ASF
        </footer>
    </div>
  </section><br>
  <section  class="metodo" id="metodo2" class="container-fluid">
    <div class="container">
      <hr class="lineatitulo mb-5" noshade="noshade">
      <h2 class="font-weight-bold text-center">Método de la edad</h2>
      <div>
        <img class="img-fluid" alt="Responsive image" src="../../assets/metodo2.png" alt="">
      </div>
      <h3>¿En que consiste?</h3>
      <p>
        Este método consiste en la aplicacion de la siguiente formula
        <strong>EDAD - 20 = % de ahorro</strong> y cuyo método se suele utilizar desde los vainete a los sesenta años.
      </p>
      <div class="container">
        <img class="img-fluid" alt="Responsive image" src="../../assets/edad.PNG" alt="">
      </div>
      <p>
        Las ventajas de este método son:
        <br> - Es escalonado partiendo desde el 1%.
        <br> - Nos va a incitar al ahorro no importa si crees que ganas mucho,tus ingresos pueden subir.
        <br> - Se crea el habito de la generación del ahorro.
      </p>
      <h3>¿Como lograrlo?</h3>
      <P>
        Debemos de organizar y conocer nuestros gastos mensuales tanto de tipo fijo como los variables. Podemos decir que sería similar.
        <br> Hay una frase conocida que es
        <strong>"presupuesto es decirle a tu dinero a donde ir antes de que se haya ido"</strong>
      </P>
    </div>
  </section><br>

<div class="container">
  <header>
    <h2 class="cuadro">Método de la edad</h2>
    <input #anios class="cantidad" type="text" placeholder="Introduce tu edad" max="60" min="20" >
    <input #tiempo class="tiempo" type="number" placeholder="¿Cuanto tiempo necesitas?" max="40" min="1">
    <input #misIngresos class="cantidad" type="text" placeholder="Ingresos anuales">
    <input type="button" value="Mostrar tabla" (click)="cargarTabla(anios.value, tiempo.value, misIngresos.value)">
    <input type="button" value="Borrar tabla" (click)="borrarTabla($event.target.value)">
  </header>

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Edad</th>
          <th scope="col">Porcentaje de ahorro</th>
          <th scope="col">Ingresos</th>
          <th scope="col">Resultado mensual</th>
          <th scope="col">Resultado anual</th>

        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let d of listaAnios; let i = index">
          <th scope="row">{{this.edad+i}}</th>
           <td>{{this.porcentaje+i | number:'1.2-2'}}%</td>
           <td>{{this.ingresos | number:'1.2-2'}}€</td>
           <td>{{((this.porcentaje+i)*this.ingresos/100) | number:'1.2-2'}}€</td>
           <td>{{((this.porcentaje+i)*this.ingresos/100)*12 | number:'1.2-2'}}€</td>
        </tr>
        <tr class="table-active" >
          <th scope="row">Resultado total: </th>
          <td></td>
          <td></td>
          <td></td>
          <td>€</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
    Tabla proporcionada por ASF
  </footer>
</div><br>

