<section  class="metodo" id="metodo1" class="container-fluid">
  <div class="container">
    <h2 class="font-weight-bold text-center">TIPOS DE METODOS</h2>
    <hr class="lineatitulo mb-5" noshade="noshade">
    <h3>Método de porcentaje</h3>
    <p>
      La regla de ahorro 50/30/20 consiste en coger tus ingresos mensuales y dividirlos en porcentajes de modo que todas tus necesidades
      primarias estén cubiertas (50 %), puedas darte caprichos (30 %) y, encima, ahorres para el futuro (20 %).
      <br>
      <img src="../../assets/metodo_porcentaje.PNG" alt="">
    </p>
    <h5>El 50 % del sueldo debería gastarse en:</h5>

    <p>
      El pago de la hipoteca o alquiler.
      <br> Los gastos habituales de una vivienda, tales como la luz, el agua, la cuota de comunidad, la recogida de basura,etc.
      <br> La comida del mes.
      <br> El pago de escolaridad en caso de estar estudiando o tener hijos que lo hagan.
      <br> Calzado y vestuario.
      <br> Transporte al trabajo.
      <br> Todos estos gastos tienen una cosa en común: son vitales en nuestro día a día.
    </p>
    <h5>El 20 % para el ahorro</h5>

    <p>
      Esta parte de la regla es, seguramente, la más dolorosa ya que nada más aplicarla vemos nuestro dinero mermado un 20 %. Para
      paliar la sensación de perder poder adquisitivo es importante hacer dos cosas mes a mes. Lo primero es descontar el
      porcentaje de ahorro nada más recibir la nómina mensual. Lo segundo que hay que hacer para ver la “pérdida” de dinero
      mes a mes con buenos ojos es, nada más descontar el 20 % de la nómina, ingresar el dinero correspondiente a ese porcentaje
      en una cuenta distinta a nuestra cuenta corriente habitual.
    </p>
    <h5>El 30 % para gastos prescindibles</h5>
    <p>
      El último grupo de la regla 50/20/30 es, con toda seguridad, el que más nos va a gustar cumplir a pies juntillas. Consiste
      en destinar el 30 % de nuestros ingresos mensuales a aquellos gastos del día a día o puntuales que son prescindibles,
      pero que aumentan mucho nuestra calidad de vida. Dentro de esta categoría se incluyen todas las actividades de ocio
      como ir al cine, salir a cenar algunos días fuera de casa o hacer un viaje por vacaciones.
    </p>
  </div>
</section>
<section  class="metodo" id="metodo2" class="container-fluid">
  <div class="container">
    <hr class="lineatitulo mb-5" noshade="noshade">
    <h2 class="font-weight-bold text-center">Método de la edad</h2>
    <img src="../../assets/metodo2.png" alt="">
    <h3>¿En que consiste?</h3>
    <p>
      Este método consiste en la aplicacion de la siguiente formula
      <strong>EDAD - 20 = % de ahorro</strong> y cuyo método se suele utilizar desde los vainete a los sesenta años.
    </p>
    <img class="imagen" src="../../assets/metodoEdad.PNG" alt="">
    <p>
      Las ventajas de este método son:
      <br> - Es escalonado partiendo desde el 1%.
      <br> - Nos va a incitar al ahorro no importa si crees que ganas mucho,tus ingresos pueden subir.
      <br> - Se crea el habito de la generación del ahorro.
    </p>
    <h3>¿Como lograrlo?</h3>
    <P>
      Debemos de organizar y conocer nuestros gastos mensuales tanto de tipo fijo como los variables.
      <br> Podemos decir que sería similar.
      <br> Hay una frase conocida que es
      <strong>"presupuesto es decirle a tu dinero a donde ir antes de que se haya ido"</strong>
    </P>
  </div>
</section>
